#nav {
    list-style: none;
    overflow: hidden;
}
   
#nav li {
    width: 140px;
    text-align: center;
    background-color: #333;
    float: left;
}
   
#nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/*
.text-dec {
    position: relative;
    color: #6eb0f9;
    line-height: 1.4;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}
*/

/*
.category {
    color: black;
}

.category:hover {
    text-decoration: none;
    color: orange;
}
*/